.about {
  @extend %section;

  &__container {
    @include flex-center(space-between);
    padding: 0 20px;
  }

  &__title {
    margin-bottom: 50px;
    @include title;
    position: relative;
    text-align: center;
    &::after {
      visibility: hidden;
      content: "";
      position: absolute;
      height: 5px;
      width: 70%;
      left: 30px;
      top: 120px;
      background-color: $grey-dark;
    }

    @media (min-width: $screen-mobile) {
      &::after {
        content: "";
        position: absolute;
        height: 5px;
        width: 70%;
        left: 30px;
        top: 75px;
        background-color: $grey-dark;
      }
    }

    @media (min-width: $screen-tablet) {
      &::after {
        visibility: visible;
        content: "";
        position: absolute;
        height: 5px;
        width: 100%;
        left: 0px;
        top: 50px;
        background-color: $grey-dark;
        border-radius: 50%;
      }
    }
  }
  &__subtitle {
    font-size: $H300;
    line-height: 30px;
    letter-spacing: 0.5px;
    font-weight: 400;
    color: $grey-dark;
    max-width: 600px;
    margin-bottom: 20px;

    @media (min-width: $screen-desktop) {
      margin-bottom: 50px;
    }
  }
  &__list {
    width: 100%;
    @include flex-center;

    @media (min-width: $screen-desktop) {
      width: 100%;
      @include flex-row(space-between);
    }
  }
  &__item {
    flex: 0 1 33.333%;
  }
  &__wrap {
    max-width: 400px;

    @media ($screen-desktop) {
      min-height: 50px;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease 0s;
  }
  &__image:hover {
    transform: translateY(10px);
    box-shadow: -1px -7px 29px 0px rgba(0, 0, 0, 0.75);
  }
  &__logo {
    max-width: 100%;
    display: block;
  }
}
