.avtomatica {
  @extend %section;
  position: relative;

  &__bft {
    @extend %article;
  }
  &__nice {
    @extend %article;
  }
  &__roger {
    @extend %article;
  }
  &__gant {
    @extend %article;
  }

  // &__pop {
  //   position: fixed;
  //   right: 40px;
  //   bottom: 800px;
  //   width: 50px;
  //   height: 50px;
  //   border-radius: 50%;
  //   background-color: #e62739;
  //   box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  //   outline: none;
  //   cursor: pointer;
  //   visibility: hidden;
  //   opacity: 0;
  //   transition: all 0.3sec;
  //   z-index: 10;

  //   &:hover {
  //     box-shadow: 0 0 0px rgba(0, 0, 0, 0.7);
  //   }

  //   &--active {
  //     bottom: 40px;
  //     visibility: visible;
  //     opacity: 1;
  //   }
  // }

  &__top {
    position: absolute;
    padding: 5px 10px;
    background-color: rgba($blue, 0.8);
    border-radius: 3px;
    color: $white;
    pointer-events: none;
    transition: all 0.4s;
    display: none;
    box-shadow: 0px 10px 40px 0px rgba(167, 17, 17, 0.8);
    z-index: 5;
    cursor: pointer;
    top: 600px;
    right: 40px;

    &:hover {
      box-shadow: none;
    }

    @media (min-width: $screen-desktop) {
      position: absolute;
      padding: 5px 10px;
      background-color: rgba($blue, 0.8);
      border-radius: 3px;
      color: $white;
      pointer-events: none;
      transition: all 0.4s;
      dislplay: none;
      box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.6);
      z-index: 5;
    }

    &--active {
      pointer-events: auto;
      display: block;
      position: fixed;
      top: 550px;
      right: 132px;

      @media (min-width: $screen-iphone6) {
        pointer-events: auto;
        display: block;
        position: fixed;
        top: 620px;
        right: 153px;
      }

      @media (min-width: $screen-mobile) {
        pointer-events: auto;
        display: block;
        position: fixed;
        top: 688px;
        right: 165px;
      }
      @media (min-width: $screen-tablet) {
        pointer-events: auto;
        display: block;
        position: fixed;
        top: 925px;
        right: 70px;
      }
      @media (min-width: $screen-desktop) {
        pointer-events: auto;
        display: block;
        position: fixed;
        top: 650px;
        right: 50px;
      }
    }
  }

  &__list {
    width: 100%;
    @include flex-center;
    margin-bottom: 50px;

    @media (min-width: $screen-tablet) {
      @include flex-row(space-around);
    }

    @media (min-width: $screen-desktop) {
      width: 100%;
      @include flex-row(space-around);
      margin-bottom: 50px;
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 40px;
    @media (min-width: $screen-tablet) {
      margin-bottom: 0px;
    }

    @media (min-width: $screen-desktop) {
      margin-bottom: 0px;
    }
  }

  &__title {
    @include title;
    margin-bottom: 30px;
    color: red;
  }

  &__line {
    height: 2px;
    width: 80%;
    background-color: $blue;
    margin-bottom: 30px;
  }

  &__line--red {
    height: 3px;
    width: 100%;
    background-color: red;
    margin-bottom: 80px;
  }
  &__subtitle {
    font-size: $H600;
    line-height: 30px;
    letter-spacing: 0.5px;
    font-weight: 400;
    color: $dark;
    max-width: 600px;
    text-align: center;
    margin-bottom: 100px;
  }
}
