.calculator {
  height: 750px;
  background-image: linear-gradient(
      to top,
      rgba(81, 103, 228, 0.8),
      rgba(238, 100, 180, 0.5)
    ),
    url(../images/GantPlus_5.jpg);
  background-repeat: no-repeat;
  background-position-y: 50%;
  background-size: 465%;
  padding-top: 50px;

  @media (min-width: $screen-mobile) {
    height: 800px;
    padding-top: 60px;
  }
  @media (min-width: $screen-tablet) {
    height: 800px;
    padding-top: 70px;
    background-size: 220%;
    background-position-x: 20%;
  }
  @media (min-width: $screen-desktop) {
    height: 760px;
    padding-top: 80px;
    // padding-bottom: 50px;
    @include bg-image;
  }

  &__container {
    @include flex-center;
  }
  &__title {
    @include title($weight: 400, $color: $white);
    text-align: center;
    margin-bottom: 10px;

    @media (min-width: $screen-mobile) {
      margin-bottom: 50px;
    }

    @media (min-width: $screen-tablet) {
      margin-bottom: 50px;
    }

    @media (min-width: $screen-desktop) {
      @include title($weight: 400, $color: $white);
      margin-bottom: 50px;
    }
  }
  &__info-curs {
    @include flex-center;
    width: 280px;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.75);
    padding: 15px 0;
    border-radius: 5px;
    margin-bottom: 15px;

    @media (min-width: $screen-tablet) {
      width: 350px;
      margin-bottom: 25px;
    }

    @media (min-width: $screen-desktop) {
      @include flex-row;
      width: 550px;
    }
  }
  &__data {
    @include font();
    color: $white;
    text-align: center;
    margin-right: 0px;
    margin-bottom: 10px;
    @media (min-width: $screen-desktop) {
      margin-right: 16px;
      margin-bottom: 0px;
    }
  }
  &__curs {
    color: yellow;
  }
  &__body {
    background-color: rgba(0, 0, 0, 0.4);
    flex: 1 1;
    border: 2 px solid $grey-dark;
    border-radius: 8px;
    width: 280px;
    box-shadow: 0px 16px 20px 5px rgba(0, 0, 0, 0.75);
    padding: 15px;

    @media (min-width: $screen-tablet) {
      width: 350px;
    }

    @media (min-width: $screen-desktop) {
      width: 550px;
    }
  }

  &__size {
    @include flex-center(
      $justify-content: flex-start,
      $align-items: flex-start
    );
    margin-bottom: 20px;
  }
  &__label {
    @include font($color: $white);
    opacity: 0.7;
    margin-bottom: 15px;
    &:last-of-type {
      margin-bottom: 0px;
    }
  }
  &__input {
    width: 100%;
    background-color: transparent;
    border-bottom: 1px solid $dark;
    padding: 10px;
    margin-bottom: 10px;
  }
  &__brand {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  &__avtomatic {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  &__select {
    background-color: transparent;
    @include font($color: $blue);
    opacity: 0.7;
    padding-left: 15px;
    width: 40%;
    cursor: pointer;
  }
  &__result {
    width: 100%;
  }
  &__button {
    align-self: start;
    font-size: 16px;
    margin-bottom: 20px;
    &:hover {
      box-shadow: $btn-shadow;
    }
    &:focus {
      color: green;
    }
  }
  &__out {
    display: flex;
    justify-content: space-between;
    height: 30px;
  }
  &__cost {
    display: flex;
  }
  &__price-usd {
    font-size: $H200;
    color: yellow;
    margin-right: 10px;

    @media (min-width: $screen-tablet) {
      font-size: $H300;
    }
  }
  &__price-grivna {
    font-size: $H200;
    color: yellow;

    @media (min-width: $screen-tablet) {
      font-size: $H300;
    }
  }
}
